<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet" />

  <mat-toolbar *ngIf="smallerWindow" color="primary">
    <mat-toolbar-row style="display:flex;justify-content:space-between">
      <app-menu-items></app-menu-items>
      <i>
        Bhagavadgita
      </i>
      <app-bell-component></app-bell-component>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <i> Interactive Wordlist</i>

    </mat-toolbar-row>
    <mat-toolbar-row style="display:flex;justify-content:center">
      <form class="form-class" [style.fontSize.px]="12" (submit)="onSearchSubmit(inputSearchText.value)">
        <mat-form-field class="form-field" appearance="outline">
          <input type="text"
                 placeholder="Search in Gita"
                 aria-label="Search Text"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto"
                 #inputSearchText />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async"
                        [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>


    </mat-toolbar-row>

    <mat-toolbar-row style="display:flex;justify-content:space-between">

      <!--<span class="example-spacer"></span>-->
      <button matTooltip="Gita Chapters" matTooltipPosition="above"
              mat-icon-button
              class="example-icon favorite-icon"
              aria-label="Example icon-button with heart icon"
              (click)="this.commServ.switchTo(2,true)">
        <mat-icon>library_books</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Word List" matTooltipPosition="above"

              class="example-icon favorite-icon"
              aria-label="Example icon-button with heart icon"
              (click)="this.commServ.switchTo(3)">
        <mat-icon>list</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Word Cloud" matTooltipPosition="above"
              class="example-icon"
              aria-label="Example icon-button with share icon"
              (click)="this.commServ.switchTo(4)">
        <mat-icon>cloud</mat-icon>
      </button>

      <button mat-icon-button >
        <mat-icon>
          <span class="material-symbols-sharp">
            public
          </span>
        </mat-icon>
      </button>


    </mat-toolbar-row>

  </mat-toolbar>

<mat-toolbar *ngIf="!smallerWindow" color="primary">
    <mat-toolbar-row style="display:flex;justify-content:space-between">
      <div>
        <app-menu-items></app-menu-items>
        <i>Bhagavadgita Interactive Wordlist</i>
      </div>
      <app-bell-component></app-bell-component>
    </mat-toolbar-row>

    <mat-toolbar-row style="display:flex;justify-content:space-between">
      <form class="form-class" [style.fontSize.px]="12" (submit)="onSearchSubmit(inputSearchText.value)">
        <mat-form-field class="form-field" appearance="outline">
          <input type="text"
                 placeholder="Search in Gita"
                 aria-label="Search Text"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto"
                 #inputSearchText />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async"
                        [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      
      <div>
        <button mat-icon-button matTooltip="Gita Chapters" matTooltipPosition="above"
                class="example-icon favorite-icon"
                aria-label="Example icon-button with heart icon"
                (click)="this.commServ.switchTo(2,true)">
          <mat-icon>library_books</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Word List" matTooltipPosition="above"
                class="example-icon favorite-icon"
                aria-label="Example icon-button with heart icon"
                (click)="this.commServ.switchTo(3)">
          <mat-icon>list</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Word Cloud" matTooltipPosition="above"
                class="example-icon"
                aria-label="Example icon-button with share icon"
                (click)="this.commServ.switchTo(4)">
          <mat-icon>cloud</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Take a Tour" matTooltipPosition="above">
          <mat-icon>
            <span class="material-symbols-sharp">
              public
            </span>
          </mat-icon>
        </button>

      </div>
    </mat-toolbar-row>
</mat-toolbar>
