<!-- app.component.html -->
<mat-card>
  <mat-card-title style="display:flex;justify-content:center">Word Cloud</mat-card-title>
  <mat-card-subtitle style="display:flex;justify-content:center">Does Frequency of words give any hints on Chapter Summary?</mat-card-subtitle>
  <mat-form-field appearance="fill" style="margin-right:5px">
    <mat-label>Select Chapters</mat-label>
    <mat-select
      [formControl]="chapters"
      multiple
      (selectionChange)="reloadData()"
    >
      <mat-select-trigger>
        {{chapters.value?.[0] || ''}}
        <span
          *ngIf="(chapters.value?.length || 0) > 1"
          class="example-additional-selection"
        >
          (+{{ (chapters.value?.length || 0) - 1 }}
          {{ chapters.value?.length === 2 ? 'other' : 'others' }})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let chapter of chapterList" [value]="chapter">{{
        chapter
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Select Uvacha</mat-label>
    <mat-select
      [formControl]="uvacha"
      multiple
      (selectionChange)="reloadData()"
    >
      <mat-select-trigger>
        {{uvacha.value?.[0] || ''}}
        <span
          *ngIf="(uvacha.value?.length || 0) > 1"
          class="example-additional-selection"
        >
          (+{{ (uvacha.value?.length || 0) - 1 }}
          {{ uvacha.value?.length === 2 ? 'other' : 'others' }})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let uvacha of getUvachaList()" [value]="uvacha">{{
        uvacha
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>

<mat-card>
  <mat-card-subtitle>Click on a word to search its occurrences !!!</mat-card-subtitle>
  <angular-d3-cloud style="cursor:pointer"
    [data]="data"
    [width]="width"
    [height]="height"
    [padding]="5"
    font="serif"
    [rotate]="0"
    [autoFill]="true"
    (wordClick)="oneWordClick($event)"
  ></angular-d3-cloud>

  <mat-card-content>Size of the word indicates the frequency of its usage. Bigger word indicates it has been used many times.</mat-card-content>
  </mat-card>
