<mat-card>
  <mat-card-title style="display:flex;justify-content:center">Word List</mat-card-title>
  <mat-card-subtitle style="display:flex;justify-content:center">Alphabetical order of the space seperated words !!!</mat-card-subtitle>

  <mat-form-field appearance="fill">
    <mat-label>Select a Letter</mat-label>
    <mat-select [(value)]="letterSelected" (selectionChange)="changeWordArray()">
      <mat-option *ngFor="let letter of letters" [value]="letter.value">
        {{letter.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>
  <mat-card >
    <mat-card-title style="display:flex;justify-content:center">
      {{this.wordArray.length}} words starts with ' {{getDevanagariChar(letterSelected)}} '
    </mat-card-title>
    <mat-card-subtitle>Click on a word to search its occurrences !!!</mat-card-subtitle>
    <mat-card-content>
      <mat-grid-list [cols]="this.noOfCols" rowHeight="5:1">
        <mat-grid-tile *ngFor="let word of wordArray"><button mat-button (click)="oneWordClick(word)">{{ word }}</button></mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="this.hasWordArray.length > 0">
    <mat-card-title style="display:flex;justify-content:center">
      {{this.hasWordArray.length}} words have ' {{getDevanagariChar(letterSelected)}} ' in it
    </mat-card-title>
    <mat-card-subtitle>Click on a word to search its occurrences !!!</mat-card-subtitle>
    <mat-card-content>
      <mat-grid-list [cols]="this.noOfCols" rowHeight="5:1">
        <mat-grid-tile *ngFor="let word of hasWordArray"><button mat-button (click)="oneWordClick(word)">{{ word }}</button></mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
